<div class="wrapper">
	<h1>Robots</h1>

	<div class="left inline-block">
		<div class="tile inline-block shadow-light robot animated flipInX" [style.animationDelay]="getRandomDelay()" *ngFor="let r of robots">
			<img class="card-bg" src="assets/img/card-bg.png" alt="Robot icon">
			<div class="content">
				<p class="name">{{ r['name'] }}</p>
				<p class="model">{{ r['model'] || 'Unknown' }}</p>
			</div>
			<footer>
				<button class="btn" type="button" name="button">Editar</button>
				<button class="btn red" type="button" name="button">Eliminar</button>
			</footer>
		</div>
		<div class="loader">
			<div *ngIf="loading" class="sk-folding-cube sk-folding-cube-small">
				<div class="sk-cube1 sk-cube"></div>
				<div class="sk-cube2 sk-cube"></div>
				<div class="sk-cube4 sk-cube"></div>
				<div class="sk-cube3 sk-cube"></div>
			</div>
		</div>
	</div><div class="right inline-block">

	</div>

</div>
